.search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 1rem;
    position: relative;
}

.search svg {
    position: absolute;
    top: 0px;
    right: 0px;
}

.search input {
    border-radius: 50px;
}

.search-results{
    
    flex-direction: column;
    height: 15rem;
}

.search-results input {
    width: 10rem;
}

.choice {
    border: 1px solid grey;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    width: 154px;
}
.choice:hover {
    background-color: lightblue;
}